.form-container-produto {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container-produto h2 {
    margin-bottom: 20px;
}

.form-container-produto .MuiTextField-root {
    margin-bottom: 16px;
}

.MuiButton-root {
    width: 100%;
}
