.vendas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.vendas-input {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.vendas-input .MuiTextField-root {
  margin-bottom: 10px;
}

.cliente-nome {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.produtos-selecionados,
.servicos-selecionados {
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
}

.produtos-selecionados h6,
.servicos-selecionados h6 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.produto-card,
.servico-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
  background-color: #f9f9f9;
}

.produto-card:hover,
.servico-card:hover {
  background-color: #f1f1f1;
}

.produto-card h6,
.servico-card h6 {
  font-size: 18px;
  font-weight: bold;
}

.produto-card p,
.servico-card p {
  font-size: 14px;
  color: #666;
}

.total {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.vendas-buttons {
  margin-top: 20px;
}

.vendas-buttons button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vendas-buttons button:hover {
  background-color: #45a049;
}

.vendas-buttons button:active {
  background-color: #388e3c;
}

.vendas-tabela {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

.tabela-vendas {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.tabela-vendas th,
.tabela-vendas td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-vendas th {
  background-color: #f4f4f4;
  font-weight: bold;
}



@media (max-width: 768px) {
  .vendas-input,
  .produtos-selecionados,
  .servicos-selecionados {
    width: 100%;
  }

  .produto-card,
  .servico-card {
    max-width: 100%;
  }
}
